<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>个人财务系统</title>

		<!-- Custom fonts for this template-->
		<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		 rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="css/sb-admin-2.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css" />

	</head>

	<body class="bg-gradient-primary">

		<div class="container">

			<!-- Outer Row -->
			<div class="row justify-content-center">

				<div class="col-xl-10 col-lg-12 col-md-9">
					<div class="text-center text-title">
						<h1 class="mb-4">个人财务系统</h1>
					</div>
					<div class="card o-hidden border-0 shadow-lg my-5">
						<div class="card-body p-0">
							<!-- Nested Row within Card Body -->
							<div class="row">
								<div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
								<div class="col-lg-6">
									<div class="p-5">
										<div class="text-center">
											<h1 class="h1 text-gray-900 mb-4">欢迎回来！</h1>
										</div>
										<div>
											<h1 class="h4 text-gray-900 mb-4 sm-font">
												我们每个人的生活都是一个世界，即使最平凡的人也要为他生活的那个世界而奋斗。
											</h1>
										</div>
										<hr>
										<form class="user" action="/login">
											<div class="form-group">
												<input type="text" name="uname" id="uname" class="form-control form-control-user" placeholder="请输入用户名">
											</div>
											<div class="form-group">
												<input type="password" name="password" id="password" class="form-control form-control-user"  placeholder="请输入密码">
											</div>
											
											<input type="submit" name="" value="登录" class="btn btn-primary btn-user btn-block"/>
										</form>
										<hr>
										<div class="text-center">
											<a class="small" th:href="@{/toRegister}">创建账户</a>
											<span th:text="${msg}" class="text-danger small" style="display: block;" th:if="${not #strings.isEmpty(msg)}"></span>
											<span th:text="${error}" class="text-danger small" style="display: block;" th:if="${not #strings.isEmpty(error)}"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="text-center text-footer">
				<h3 class="mb-4">Copyright &copy;2020 软工18-2 17小组 数据库原理课程设计</h3>
			</div>
		</div>

		<!-- Bootstrap core JavaScript-->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="js/sb-admin-2.min.js"></script>

	</body>

</html>
